<launch>

    <arg name="project" default="lio_sam_6axis"/>

    <!-- Parameters -->
    <rosparam file="$(find lio_sam_6axis)/config/hilti_pandar.yaml" command="load"/>

    <!--- LOAM -->
    <include file="$(find lio_sam_6axis)/launch/include/module_loam.launch"/>

    <!--- Robot State TF -->
    <include file="$(find lio_sam_6axis)/launch/include/module_robot_state_publisher.launch"/>

    <!--- Run Rviz-->
    <include file="$(find lio_sam_6axis)/launch/include/module_rviz.launch"/>

</launch>
