<launch>
    <arg name="project" default="lio_sam_6axis"/>
    <arg name="bag_path" default="/home/xchu/data/ramlab_dataset/20220226_campus_road_day_ref_lidar_bodyimu.bag"/>
    <arg name="sequence" default="20220226_campus_road_day_ref_lidar_bodyimu"/>

    <!-- Parameters -->
    <rosparam file="$(find lio_sam_6axis)/config/test_ouster128.yaml" command="load"/>

    <!--- LOAM -->
    <param name="saveDirectory" type="string" value="$(find lio_sam_6axis)/data/"/>
    <param name="configDirectory" type="string" value="$(find lio_sam_6axis)/config/"/>
    <rosparam param="sequence" subst_value="true">$(arg sequence)</rosparam>
    <include file="$(find lio_sam_6axis)/launch/include/module_loam.launch"/>

    <!--- Robot State TF -->
    <include file="$(find lio_sam_6axis)/launch/include/module_robot_state_publisher.launch"/>

    <!--- Run Navsat -->
    <node pkg="lio_sam_6axis" type="lio_sam_6axis_gpsOdometry" name="lio_sam_6axis_gpsOdometry"/>

    <!--- Run Rviz-->
    <node pkg="rviz" type="rviz" name="$(arg project)_rviz"
          args="-d $(find lio_sam_6axis)/launch/include/config/vlp.rviz"/>

    <node pkg="rosbag" type="play" name="bag_play" args="$(arg bag_path) --clock -d 5"/>

</launch>
